
<main>
  <div class="intro">
    <h1>Bem vindo ao jogo de forca!</h1>

    <p>Quem nunca rabiscou um na carteira da escola...</p>
    

  </div>




<div class="wrap_boneco_palavra">
  <div class="boneco">
    <!--
     <img  src="../assets/win.png" style="max-width: 200px;"/>
-->
<img  src="../assets/forca{{numErrors()}}.png" style="max-width: 200px;"/>
   
  </div>



  <div class="palavra">


    <div class="letra" *ngFor="let letra of palavraArray">
      
      <span *ngIf="arrayIncludes(tentativas,letra); else letraVazia">{{letra}}</span>
      
      </div>
    
      <ng-template #letraVazia>__</ng-template>
  </div>

</div>



    
  <div class="errata">
    <h2 class="title_errata">Tentativas:</h2>

    <div class="lista_errata">
        <div class="letra_err" *ngFor="let m of mistakes">
          <span >{{m}}</span>
        </div>

    </div>

    <!---
     then letterBlock else emptyBlock
   
    <ng-template #letterBlock let-value="letra">{{value}}</ng-template>

    <ng-template #emptyBlock></ng-template>
 -->
    <div *ngIf="completed then thenBlock else elseBlock">
    </div>
        <ng-template #thenBlock>
    
          <h2 class="finish_msg">{{status}}</h2>

          <button (click)="restart()" class="restart_btn">Próxima rodada.</button>
    
        </ng-template>
    
        <ng-template #elseBlock>
    
    
          <div class="paupite">
            <p>Entre com uma letra:</p>
            <input type="text" [(ngModel)]='currentLetter' maxlength="1"/><br/>
            <button (click)="submitLetter()" class="submit">tentar.</button>
            <p>{{errorMessage}}</p>
            <br/>
            <br/>
            <small>*O Angular tem apresentado comportamento inconsistente no Chrome Mobile,
              recomendamos outro browser em caso de falhas</small>
          </div>
      
    
        </ng-template>

  </div>




</main>
